.app {
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;   
    background-color: rgb(135, 136, 136);
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
    
  }
  
  input {
    width: 360px;
    height: 35px;
    
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
  }
  
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 15px;
  }
 
button{
    background-color: rgb(255, 255, 255);
  
      border-width: 1.5px;
      border-color: rgb(77, 47, 47);
      background-color: aqua;
      size: auto;

}

 
.delete-button {
  font-size: 15px;
  margin-left: 13px;

  border: none;
  color: white;
  border-radius: 20px;

  padding-top: 5px;
  padding-bottom: 4px;
}